{% extends 'base.html' %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<title> Login to Thanks! </title>
{% endblock %}

{% block body %}
<div class="container">

  <form class="form-signin" action="{% url 'accounts:login' %}" method="post" id="login-form">{% csrf_token %}
    <h2 class="form-signin-heading">Welcome to Thanks!</h2>
    <h3 class="form-signin-heading">{{ message }}</h3>
    <label for="id_username" class="sr-only">Email address</label>
    <input type="text" name="username" id="id_username" class="form-control" placeholder="User Name" required autofocus>
    <label for="id_password" class="sr-only">Password</label>
    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
            <input type="checkbox" value="remember-me">Remember me
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
<!-- /container -->
{% endblock %}
