{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <title>Home Page</title>
  <script src="{% static '/js/counter.js' %}"></script>
  {% endblock %}
</head>

<body>
  {% block body %}
  <div class="container">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand">Thanks!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/home/">Home <span class="badge">2</span></a></li>
            <li class="dropdown"><a href="#">Options</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile ({{user.username}})</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

    <div class="page-header">
      <h2>Dashboard</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <form action="/give_points/" class="form" method="post">
          {% csrf_token %}
          {% bootstrap_field form.receiver %}
          {% bootstrap_field form.description %}
          <div id="chars_counter"></div>
          {% bootstrap_field form.points_given %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">Send Thanks!</button> {% endbuttons %}
        </form>
      </div>

      <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Points to give</th>
            <th>Points received</th>
          </tr>
        </thead>
        {% for employee in employees %}
        <tbody>
          <tr>
            <td>{{ employee }}</td>
            <td>{{ employee.points_to_give }}</td>
            <td>{{ employee.points_collected}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="page-header">
          <h2>Livefeed</h2>
        </div>
         <div class="livefeed-container">
            {% for transaction in transactions %}
              <div class="transaction-container">
                <div class="transaction-header">
                  <div class="transaction-title">{{ transaction.giver }} gives {{ transaction.receiver }} {{ transaction.points_given }} point(s)</div>
                  <div class="transaction-date">{{ transaction.date|date:'d-m-Y H:i' }}</div>
                </div>
                <div class="transaction-description">{{ transaction.description }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>

  </div>
  {% endblock %}
</body>

</html>
