{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Thanks!</title>
  {% endblock %}
</head>

<body>
  {% block body %}
  <div class="container">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand">Thanks!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home <span class="badge">2</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact">Profile ({{user.username}})</a></li>
            <li><a href="#contact">About</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

    <div class="page-header">
      <h2>Dashboard</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="exampleSelect1">Who do you want to thank?</label>
            <select class="form-control" id="exampleSelect1">
  		      <option>...</option>
  		      {% for employee in employees %}
  		      	<option>{{ employee }}</option>
  		      {% endfor %}
  		    </select>
          </div>
          <div class="form-group">
            <label for="exampleTextarea">What's the reason?</label>
            <textarea class="form-control vresize" id="exampleTextarea" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Thanks!</button>
        </form>
      </div>

      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Points to give</th>
              <th>Points received</th>
            </tr>
          </thead>
          {% for employee in employees %}
          <tbody>
            <tr>
              <td>{{ employee }}</td>
              <td>{{ employee.points_to_give }}</td>
              <td>{{ employee.points_collected}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="page-header">
      <h2>Livefeed</h2>
    </div>

  </div>
  {% endblock %}
</body>

</html>
